
#tribute-info{
    background-color: aquamarine;
}

body{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    
}
#main{
    background-color: burlywood;
}

#img-div{
    background-color: beige;
    
}

#image{
    display: block;
    max-width: 25%;
    padding-left:  655px;
    padding-right: 655px;
}